EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_a2Vlbi1zdGFybGluZy00OS5jbGVyay5hY2NvdW50cy5kZXYk
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.177:5088
EXPO_PUBLIC_API_AUTH_ENABLED=true
EXPO_PUBLIC_USE_MOCK_SERVICES=false